.bg{
    background-color: black;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}
.white{
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding-right: 9.5rem;
    padding-left: 9.5rem;
    padding-top: 1rem;
}
.tableStyle{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}