.searchBox{
    width: 30%;

}
.searchStyle, .searchStyle:hover, .searchStyle:active, .searchStyle::placeholder{
    border: none !important;
    border-bottom: 2px solid white !important;
    background-color: transparent !important;
    color: white !important;
    border-radius: 0% !important;
    outline: none !important;

}
